{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="border-top pt-3">
        <h2 style="color: black;">{{hospital.name}}</h2>
        <h5 style="color: black;">Contact us at {{hospital.email}}</h5>
    </div>
    <div class="jumbotron" style="color: white; background-color: black;">
        {% if chats %}
            {% for chat in chats %}

                {% if usrtype == "patient" and chat.sender == "Patient" %}
                    <div class="contain darker">    
                        <h4 style="color: rgb(54, 42, 165);">{{chat.patient.user.username}}</h4>
                {% elif usrtype == "hospital" and chat.sender == "Hospital" %}
                    <div class="contain darker">    
                        <h4 style="color: rgb(54, 42, 165);">{{hospital.name}}</h4>


                {% elif chat.sender == "Hospital" %} 
                <!-- message is from Hospital to user  -->
                    <div class="contain">
                        <h4 style="color: brown;" >{{hospital.name}}</h4>
                {% else %}
                <!-- message is from User for hospital -->
                    <div class="contain">
                        <h4 style="color: brown;" >{{chat.patient.user.username}}</h4>



                {% endif %}
                        <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right"> -->
                        <p style="color: black;">{{chat.message}}</p>
                        <span class="time-left">{{chat.date|date:'d M, H:i'}}</span>
                    </div>
            {% endfor %}
        {% else %}
            <h2>Ask your doubts here!</h2>
        {% endif %}
    </div>
    <br><br>
    <form method="POST" >
        {% csrf_token %}
        {{form}}
        <!-- <input type="text" placeholder="Go ahead and ask your queries!" name="usermessage" />  -->
        <button type="submit" >Send</button>
        <br>
    </form>
{% endblock content %}